<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TravelEasy</display-name><error-page>
    <exception-type>ca.huypham.RequestFaultException</exception-type>
    <location>/requestfault.jspx</location>
  </error-page>
  <filter>
    <display-name>ApplicationAuthorizationFilter</display-name>
    <filter-name>ApplicationAuthorizationFilter</filter-name>
    <filter-class>ca.on.phrinix.ApplicationAuthorizationFilter</filter-class>
    <init-param>
    	<param-name>travellerlogin</param-name>
    	<param-value>/travellerlogin.jspx</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ApplicationAuthorizationFilter</filter-name>
    <url-pattern>/</url-pattern>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  
  <filter>
    <display-name>RedirectFilter</display-name>
    <filter-name>RedirectFilter</filter-name>
    <filter-class>ca.on.senecac.prg556.common.RedirectFilter</filter-class>
    <init-param>
      <description>URL to redirect or dispatch to</description>
      <param-name>url</param-name>
      <param-value>/propertybookings.jspx</param-value>
    </init-param>
    <init-param>
      <description>Specifies to redirect (REDIRECT) or dispatch forward (DISPATCH)</description>
      <param-name>method</param-name>
      <param-value>DISPATCH</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RedirectFilter</filter-name>
    <url-pattern>/</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>TravellerLoginFilter</display-name>
    <filter-name>TravellerLoginFilter</filter-name>
    <filter-class>ca.huypham.TravellerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TravellerLoginFilter</filter-name>
    <url-pattern>/travellerlogin.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>SignOutFilter</display-name>
    <filter-name>SignOutFilter</filter-name>
    <filter-class>ca.huypham.SignOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignOutFilter</filter-name>
    <url-pattern>/signout.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>PropertyBookingsFilter</display-name>
    <filter-name>PropertyBookingsFilter</filter-name>
    <filter-class>ca.huypham.PropertyBookingsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PropertyBookingsFilter</filter-name>
    <url-pattern>/propertybookings.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>TREPRAMenuFilter</display-name>
    <filter-name>TREPRAMenuFilter</filter-name>
    <filter-class>ca.on.phrinix.TREPRAMenuFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TREPRAMenuFilter</filter-name>
    <url-pattern>/trepramenu.jspx</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>BookPropertyFilter</display-name>
    <filter-name>BookPropertyFilter</filter-name>
    <filter-class>ca.on.phrinix.BookPropertyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BookPropertyFilter</filter-name>
    <url-pattern>/bookproperty.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <resource-ref>
    <res-ref-name>trepraDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>